[Desktop Entry]
Name=Terminux
Comment=Terminux - GPU Accelerated Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.terminux.terminux
StartupWMClass=org.terminux.terminux
TryExec=terminux
Exec=terminux start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
